@tailwind base;
@tailwind components;
@tailwind utilities;

.kanban-board {
    display: flex;
    justify-content: space-between;
  }
  
  .kanban-column {
    width: 30%;
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 4px;
  }
 .ant-card-body{
  padding: 8px !important;
 }
 .custom-modal{
  width: 60% !important;
 
 }
